<app-header></app-header>
<div style="display: flex;">
  <app-navbar></app-navbar>
  <div class="d-flex flex-column align-items-center justify-content-center" style="height: 50vh;">
    <div class="text-center mb-4" style="margin-top: 5cm;">
      <img src="assets/images/capgemini.png" alt="Image" class="mb-4" style="max-width: 20%;">
    </div>
    <h2 class="text-center mx-5 mt-5 text-wrap" >Welcome to our application where Capgemini employees </h2>
    <h2 class="text-center mx-5 mt-0 text-wrap" >declare their sick leave absence</h2>
  </div>
</div>
  